body {
    font-family: "LXGW WenKai", sans-serif;
}

:root {
    .trm-banner-cover {
        filter: brightness(80%);
    }

    &.dark {
        .trm-banner-cover {
            filter: brightness(70%);
        }
    }
}