.var-primary(@primary: #81caaa; @primary-weak: #81caaa) {
    --primary: @primary;
    --primary-70: fade(@primary, 70%);
    --primary-50: fade(@primary, 50%);
    --primary-30: fade(@primary, 30%);
    --primary-weak: @primary-weak;
    --primary-weak-50: fade(@primary-weak, 50%);
}

:root {
    .var-primary(#81caaa, #81caaa);

    &.dark {
        .var-primary(#3013ef, #3013ef);
    }
}